@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
      'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    }
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50;
  }

  * {
    @apply box-border antialiased;
  }
}

@layer components {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Placeholder (on every new line) */
  /* .ProseMirror p.is-empty::before {
    @apply ;
  } */

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply block
    w-full
    rounded-md
    border-gray-300
    shadow-sm
    text-sm
    focus:border-green-600 focus:ring-green-600;
  }

  .prose img.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-green-600;
  }

  @keyframes enter {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes leave {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  .animate-enter {
    animation: enter 0.2s ease-out;
  }

  .animate-leave {
    animation: leave 0.15s ease-in forwards;
  }
}
